@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-50 text-gray-800;
}

.custom-calendar {
  transform: scale(1.40);
  transform-origin: center;
  margin: 70px;
  position: relative !important;
  z-index: 40 !important;
 
}
