@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  background-color: #F9FAFB;
  color: #1F2937;
}

.custom-calendar {
  transform: scale(1.40);
  transform-origin: center;
  margin: 70px;
  position: relative !important;
  z-index: 40 !important;
 
}
